/*
*= require normalize-rails
*/

@import 'colours';
@import 'forms';

.loginForm-container {
  font-family: arial;
  background-color: $red;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


